@import url('https://fonts.googleapis.com/css2?family=Inter&family=Karla:wght@800&display=swap');

body {
    background: rgba(31, 41, 55, 1);

}

#heading {
    font-family: Karla;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: -0.025em;
    text-align: left;

    
}