@import url('https://fonts.googleapis.com/css2?family=Inter&family=Karla:wght@800&display=swap');

body {
    background: rgba(31, 41, 55, 1);

}

#heading {
    font-family: Karla;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: -0.025em;
    text-align: left;
    position: absolute;
    width: 700px;
    height: 80px;
    left: 52px;
    top: 118px;
    line-height: 80px;
    color: #FFFFFF;
}

button {
    height: 42px;
    width: 223px;
    left: 52px;
    top: 287px;
    border-radius: 6px;
    background: rgba(16, 185, 129, 1);
    color: #FFFFFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    border: none;
}

h2 {
    
    position: absolute;
    width: 372px;
    height: 28px;
    left: 5px;
    top: 208px;

    /* text-xl/leading-7/font-normal */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */


    /* Medium grey */

    color: #D5D4D8;
    display: inline-block;
   
}

img {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}

#line-image {
    padding-top: 490px;
    padding-left: 42px;
    
}

#rectangle1 {
    
    width: 211px;
    height: 39px;
    left: 52px;
    top: 399px;

    background: #273549;
    border-radius: 6px;
    

}

#rectangle2 {
    
    width: 211px;
    height: 39px;
    left: 52px;
    top: 399px;

    background: #273549;
    border-radius: 6px;
}

#rectangle3 {
    
    width: 211px;
    height: 39px;
    left: 52px;
    top: 399px;

    background: #273549;
    border-radius: 6px;
}

#rectangle4 {
    
    width: 211px;
    height: 39px;
    left: 52px;
    top: 399px;
    background: #273549;
    border-radius: 6px;
}

.passwords {
    display: grid;
    font: inter;
    grid-template-columns: 240px auto;
    padding-left: 44px;
    padding-top: 30px;
    color: rgba(85, 249, 145, 1);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    


}


