@import url('https://fonts.googleapis.com/css2?family=Inter&family=Karla:wght@800&display=swap');

body {
    background: rgba(31, 41, 55, 1);

}

#heading {
    font-family: Karla;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: -0.025em;
    text-align: left;
    position: absolute;
    width: 700px;
    height: 80px;
    left: 52px;
    top: 118px;
    line-height: 80px;
    color: #FFFFFF;
}

button {
    height: 42px;
    width: 223px;
    left: 52px;
    top: 287px;
    border-radius: 6px;
    background: rgba(16, 185, 129, 1);
    color: #FFFFFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

img {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}